<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="go2">
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find go2_description)/xacro/const.xacro"/>
  <xacro:include filename="$(find go2_description)/xacro/materials.xacro"/>
  <xacro:include filename="$(find go2_description)/urdf/leg.urdf.xacro" />

  <!-- Links -->
  <link name="base_link">
    <inertial>
      <origin xyz="0.021112 0 -0.005366" rpy="0 0 0" />
      <mass value="6.921" />
      <inertia
        ixx="0.02448" ixy="0.00012166" ixz="0.0014849"
        iyy="0.098077" iyz="-3.12E-05" izz="0.107" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://go2_description/dae/base.dae" scale="1 1 1" />
      </geometry>
      <material
        name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size="0.3762 0.0935 0.114" />
      </geometry>
    </collision>
  </link>

  <link name="Head_upper">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia
        ixx="9.6e-06" ixy="0" ixz="0"
        iyy="9.6e-06" iyz="0" izz="9.6e-06" />
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.05" length="0.09" />
      </geometry>
    </collision>
  </link>

  <link name="Head_lower">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia
        ixx="9.6e-06" ixy="0" ixz="0"
        iyy="9.6e-06" iyz="0" izz="9.6e-06" />
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.047" />
      </geometry>
    </collision>
  </link>

  <link name="imu">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia
        ixx="0" ixy="0" ixz="0"
        iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>

  <link name="radar">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia
        ixx="0" ixy="0" ixz="0"
        iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>

  <joint name="Head_upper_joint" type="fixed" dont_collapse="true">
    <origin xyz="0.285 0 0.01" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="Head_upper" />
    <axis xyz="0 0 0" />
  </joint>

  <joint name="Head_lower_joint" type="fixed" dont_collapse="true">
    <origin xyz="0.008 0 -0.07" rpy="0 0 0" />
    <parent link="Head_upper" />
    <child link="Head_lower" />
    <axis xyz="0 0 0" />
  </joint>

  <joint name="imu_joint" type="fixed">
    <origin xyz="-0.02557 0 0.04232" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="imu" />
    <axis xyz="0 0 0" />
  </joint>

  <joint name="radar_joint" type="fixed">
    <origin xyz="0.28945 0 -0.046825" rpy="0 2.8782 0" />
    <parent link="base_link" />
    <child link="radar" />
    <axis xyz="0 0 0" />
  </joint>

  <xacro:go2_leg name="LF" x_joint="0.1934" y_joint="0.0465" y_thigh_joint="0.0955" />
  <xacro:go2_leg name="RF" x_joint="0.1934" y_joint="-0.0465" y_thigh_joint="-0.0955" />
  <xacro:go2_leg name="LR" x_joint="-0.1934" y_joint="0.0465" y_thigh_joint="0.0955" />
  <xacro:go2_leg name="RR" x_joint="-0.1934" y_joint="-0.0465" y_thigh_joint="-0.0955" />

  <xacro:include filename="$(find go2_description)/urdf/gazebo.urdf.xacro" />
  <xacro:include filename="$(find go2_description)/urdf/ros2_control_macro.xacro" />

  <xacro:go2_ros2_control interface_type="gazebo" />

  <!-- PosePublisher - P3D-equivalent -->
  <xacro:macro name="go2_pose_publisher">
    <gazebo>
      <plugin filename="gz-sim-pose-publisher-system" name="gz::sim::systems::PosePublisher">
        <publish_link_pose>false</publish_link_pose>
        <publish_nested_model_pose>true</publish_nested_model_pose>
        <publish_model_pose>true</publish_model_pose>
        <update_frequency>30</update_frequency>
        <use_pose_vector_msg>false</use_pose_vector_msg>
      </plugin>
    </gazebo>
  </xacro:macro>

  <xacro:go2_pose_publisher />
</robot>
